<header class="header">
    <h1 class="sr-only">Header</h1>
    <nav class="header__nav">
        <ul class="header__nav__list">
            <li class="header__nav__list__element">
                <a class="header__link" routerLinkActive="active" [routerLink]="homePath">Home</a>
            </li>
            <li class="header__nav__list__element">
                <a class="header__link" routerLinkActive="active" [routerLink]="adminPath">Admin</a>
            </li>
        </ul>
    </nav>
    <button class="header__btn" (click)="logout()">Logout</button>
</header>