@import 'util/variables.scss';

body {
    background: $esz-white;
}
.header {
    margin-bottom:30px;
}
.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}
.contentForm {
    margin-bottom: 15px;
    margin: 0 auto;
}


// Tablet resolution
@media(min-width:$esz-min-tablet-resolution) {
    .contentForm {
        width: 76%;
    }
    .contentBackLink {
        .contentBackLink__icon {
            font-size: 60px;
            margin-top: 0px;
        }   
    }
    
}
// Desktop resolution
@media(min-width:$esz-min-desktop-resolution) {
    .contentForm {
        width: 500px;
        margin-bottom:35px;
    }
}
