// Colours
$esz-black: #000000;
$esz-black-light: #000000d1;
$esz-white: #ffffff;
$esz-white-light: #ffffff75;
$esz-gray: #b0b0b0;
$esz-gray-light: #b0b0b03d;
$esz-blue: #5885ea;
$esz-violete: mediumvioletred;
$esz-red: red;
$esz-green: green;
$esz-red-light: #fd05051f;


// Media queries
$esz-max-iphoneSE-resolution: 350px;
$esz-min-tablet-resolution: 768px;
$esz-min-desktop-resolution: 992px;
$esz-min-lg-desktop-resolution: 1200px;