<toast-notification></toast-notification>

<eszsw-text-link class="contentLink" *ngIf="inSignup else loginLink"  
    [text]="textSignupLink" 
    [linkLbl]="signupLinkLbl" 
    [linkPath]="signupLinkPath"
    styleClass="alignRight"></eszsw-text-link>

<ng-template #loginLink>
    <eszsw-text-link 
    class="contentLink"
    [text]="textLoginLink" 
    [linkLbl]="loginLinkLbl" 
    [linkPath]="loginLinkPath"
    styleClass="alignRight"></eszsw-text-link>
</ng-template>


<div class="wrapperContent">
    <router-outlet  (activate)="onActivate()"></router-outlet> 
</div>
