<aside #asideElement class="asideLeft">
    <h1 class="sr-only">Info Developer</h1>
    <img class="asideLeft__img" [src]="imgPath" alt="eszSWLogo">
    <h1 class="asideLeft__title"> Eimard</h1>
    <h2 class="asideLeft__subTitle"> Frontend Engineer</h2>
    <p class="asideLeft__text">
        "I am really motivated to start a new challengue and looking forward to joining you and the team"
    </p>
    <a class="asideLeft__link" [href]="wedSitePath" target="__blank" [title]="webSiteLinkTitle">Web site</a>
    <a class="asideLeft__link" [href]="linkedinPath" target="__blank"  [title]="linkedinLinkTitle">Linkedin</a>
    <a class="asideLeft__link" [href]="documentPath" target="__blank"  [title]="documentTitle">Documentation</a>
</aside>