@import 'util/variables.scss';

.auxiliarFormText {
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: center;
    &.alignRight {
        text-align: right;
    }
}
.formLink{
    color:$esz-blue;
}